# Arquivos de ambiente
.env
*.env

# Bytecode Python
__pycache__/
*.py[cod]
*$py.class

# Diretórios comuns
.env/
venv/
.venv/
env/
ENV/

# Cache do pip
pip-wheel-metadata/
*.egg-info/
dist/
build/

# Arquivos de log
*.log

# IDEs e editores
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db
