/* Paleta de Cores */
:root {
  --roxo-escuro: #4B0082;
  --roxo-claro: #8A2BE2;
  --azul-escuro: #0000CD;
  --azul-claro: #1E90FF;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza-claro: #F5F5F5;
  --cinza-escuro: #333333;
  --sombra-base: rgba(0, 0, 0, 0.1);
  --transicao: 0.3s ease;
}

/* Estilo Global */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, var(--roxo-claro), var(--azul-claro));
  color: var(--branco);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Container Principal */
.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 16px var(--sombra-base);
  width: 100%;
  max-width: 700px;
  text-align: center;
  transition: transform var(--transicao);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;  
}

.container:hover {
  transform: scale(1.02);
}

/* Títulos */
.container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--cinza-claro);
}

/* Formulários */
.form-task {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.form-task h2{
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: var(--cinza-claro);
}

form {
  padding: 10px ;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input,
form select {
  padding: 12px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--cinza-claro);
  color: var(--preto);
  font-size: 16px;
  transition: all 0.3s ease;
}
/* // */
form textarea {
  padding: 10px 14px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  color: var(--preto);
  transition: all 0.3s ease;
  height: 150px;
}

form input:focus,
form select:focus,
form textarea:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

form button[type="submit"] {
  padding: 10px 20px;
  font-weight: bold;
  background: linear-gradient(45deg, #6a0dad, #1e90ff);
  color: var(--branco);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button[type="submit"]:hover {
  background: linear-gradient(45deg, #6a0dad, #1e90ff);
}


/* Estilo de Campos de Entrada */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="datetime-local"],
textarea,
select {
  padding: 12px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--cinza-claro);
  color: var(--preto);
  font-size: 16px;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
  border-color: var(--azul-claro);
  outline: none;
  box-shadow: 0 0 8px var(--azul-claro);
}

input::placeholder {
  color: var(--preto);
}

/* Botão com efeito de degradê */
button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #6a0dad, #1e90ff); /* Degradê de roxo para azul */
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform var(--transicao), box-shadow var(--transicao), background-color var(--transicao);
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px var(--sombra-base);
  background-color: #6a0dad; /* Alterna para um roxo mais forte */
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 8px var(--sombra-base);
}

/* Estilo geral da página de tarefas */
.tasks-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--cinza-claro);
  color: var(--roxo-escuro);
  font-family: 'Arial', sans-serif;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--sombra-base);
  transition: transform var(--transicao);
  box-sizing: border-box;
}

.tasks-container:hover {
  transform: scale(1.01);
}

.tasks-container h2 {
  text-align: center;
  color: var(--cinza-claro);
}

.tasks-container p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

/* Estilo da lista de tarefas */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

ul li {
  background-color: var(--azul-claro);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--sombra-base);
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform var(--transicao);
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;  /* ou só top/bottom */
}

ul li:hover {
  transform: translateX(10px);
}

.btn-group {
  display: flex;
  gap: 15px;
  margin-left: auto; /* joga o grupo pra direita */
}

ul li button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li button:hover {
  background-color: var(--roxo-claro);
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  justify-content: center; /* Alinha horizontalmente no centro */
  align-items: center; /* Alinha verticalmente no centro */
  z-index: 1000; /* Para garantir que fique sobre outros conteúdos */
  overflow: hidden; /* Evita scroll extra */
}

/* Conteúdo do modal */
.modal-content {
  background-color: var(--azul-claro);
  padding: 20px;
  border-radius: 8px;
  max-width: 90vw; /* Nunca ultrapassa a tela */
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 90vh; /* Para evitar que o modal fique maior que a tela */
  overflow-y: auto;
  overflow-x: hidden; /* Remove a barra de rolagem horizontal */
  box-sizing: border-box; /* Garante que padding não estoure o width */
  word-wrap: break-word;
}

/* Estilo do botão de fechar */
.modal-content button {
  background-color: var(--azul-claro);
  padding: 20px;
  border-radius: 8px;
  max-width: 90vw; /* usa a largura da viewport para evitar overflow */
  width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  max-height: 90vh; /* evita que o modal passe da altura da tela */
}

.modal-content button:hover {
  background-color: #0056b3;
}

.btn-deletar {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #ff0000, #ffffff); /* vermelho para branco */
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-deletar:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px var(--sombra-base);
  background: linear-gradient(45deg, #cc0000, #ffffff); /* um vermelho mais escuro no hover */
}

.btn-deletar:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px var(--sombra-base);
}

.login-logo {
  border-radius: 10px;
  width: 200px; /* Ajuste como quiser */
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
